<div>
    <mat-form-field class="chip-list" >
      <mat-chip-list #chipList aria-label="Tag Selection">
        <mat-chip *ngFor="let tag of tags" [selectable]="selectable"
                 [removable]="removable" (removed)="remove(tag)">
          {{tag.name}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input 
               [matChipInputFor]="chipList"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               [matChipInputAddOnBlur]="addOnBlur"
               (matChipInputTokenEnd)="add($event)">
      </mat-chip-list>
    </mat-form-field>
  
  </div>